name: Test and build

on:
  push:
    branches: [main]
  release:
    types: [published]
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        name: Check links in markdown files
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
        python-version: [ "3.11", "3.12" ]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install Poetry
      run: pipx install poetry

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: poetry install

    - name: Run tests
      run: poetry run pytest --cov-report=xml

    - name: Upload coverage to Codecov
      if: matrix.os == 'ubuntu-latest' && success()
      uses: codecov/codecov-action@v3

    - name: Run Snakemake with example data
      if: "!cancelled()" # Run this step, even if the previous one fails
      run: poetry run snakemake --cores all

    - name: Show Snakemake logs
      if: "!cancelled()" # Run this step, even if the previous one fails
      shell: bash
      run: |
        if [ -d .snakemake/log/ ]; then
            for f in .snakemake/log/*.log; do
                echo ======== $f ========
                cat $f
                echo ======== END ========
            done
        fi
